.body {
  font-size: 16px;
}

.page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: black;

  display: flex;
  justify-content: center;
}

.container {
  width: 1000px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #888;
  background-color: #888;
  border-radius: 0.75em;
}

.header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}

.title {
  flex: 0 0 3em;
  display: flex;
  align-items: center;
}

.title > h1 {
  font-size: 2.4rem;
  color: #111;
  margin-left: 1.5rem;
}

.content {
  background-color: #111;
  color: #1ec503;
  font-family: Courier;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.quote {
  font-size: 2.2em;
  margin: 1rem 3rem;
}

#author {
  margin-left: 4rem;
  margin-top: 0.4rem;
}

.quote-container {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cursor {
  display: inline-block;
  height: 0.76em;
  width: 0.5em;
  background-color: #1ec503;
  transform: translateY(0.1em);
  animation: blink 0.54s linear 0s infinite alternate;
}

@keyframes blink {
  0%, 70% {
    opacity: 1;
  }

  100%, 74% {
    opacity: 0;
  }
}

.lines {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 3rem;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 3px 6px 6px 6px;
}

.line {
  border: 3px solid #222;
  width: 33px;
  height: 0px;
  border-radius: 4px;
  margin-top: 3px;
}

.menu {
  display: flex;
  background-color: #aaa;
  border-top: 1px solid #222;
  border-radius: 0.5rem 0.5rem 0px 0px;
  padding: 0 1.5rem;
}

.menu > p {
  padding: 1px 1.5rem;
  cursor: pointer;
}
.menu > p:hover {
  background-color: #888;
}
.menu > p::first-letter {
  text-decoration: underline;
}


.status-bar {
  flex: 0 0 auto;
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-bar > p {
  margin: 2px 3rem;
}

.status-bar a {
  color: navy;
}
